.preventRubberBand {
  height: 100%;
  overflow: hidden;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  padding: 50px;
  -webkit-text-size-adjust: 100%;
  font: 1.5em Verdana, "Lucida Grande", Helvetica, Arial, sans-serif;
}
#topbar {
  background-color: darkgoldenrod;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0px;
  top: 0;
  height: 40px;
  width: 100%;
}
#sidebar {
  padding: 15px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  bottom: 15%;
  left: 0;
  width: 20%;
  background-color: gold;
}
#rightbar {
  padding: 15px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  bottom: 15%;
  left: 20%;
  width: 60%;
  background-color: palegoldenrod;
}
#content {
  padding: 15px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  bottom: 15%;
  left: 80%;
  width: 20%;
  background-color: lightgoldenrodyellow;
}
